body{
    background-image:linear-gradient(180deg,white,whitesmoke);
    font-family:'Hanken Grotesk' !important;
}
.co{
    width: 740px;
    height: 515px;
    box-shadow: 30px 20px 35px 1px rgba(0,0,0,0.1);
    border-radius: 25px;
    background: white;
    margin-left: auto !important;
    margin-right: auto !important;
}
.rad{
    background-image: linear-gradient(0deg,#2e2be9,#7857ff);
    border-radius:25px;
    color:rgba(255,255,255,0.7);
    text-align: center;
}
.rad h2{
    color: white;
}
.cir{
    width:250px;
    height:250px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
.cir h1{
    font-size: 6rem;
    color: white;
    font-weight: 800;
    padding-top: 10%;
}
.cir h4{
    font-size: 1.3rem;
    margin-top: -6%;
    color:rgba(255,255,255,0.6);

}
.rect{
    width:275px;
    height:45px;
    text-align: center;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    padding:2%;
    font-weight: 500;
}
.rect span{
    text-align: right;
}
.one{
    background:rgba(255,87,87,0.3);
}
.one span{
    color:rgba(255,87,87,1);
    font-weight: 700;
}
.two{
    background: rgba(255,176,31,0.3);
}
.two span{
    color:rgba(255,176,31,1);
    font-weight: 700;
}
.three{
    background: rgba(0,189,145,0.3);
}
.three span{
    color:rgba(0,189,145,1);
    font-weight: 700;
}
.four{
    background: rgba(17,37,212,0.3);
}
.four span{
    color:rgba(17,37,212,1);
    font-weight: 700;
}
.conbut{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(0deg,hsl(241, 81%, 54%),hsl(252, 100%, 67%));
    color:white;
    padding: 3%;
    font-weight: 400;
    border-radius: 25px;
}